
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;

}

.App {
  height: 100%;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

/* Navbar */
.navbar-body {
  padding: 1.25rem;
  padding-bottom: 0;
  /* display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
  border-bottom: 1px solid #E5E7EB;
  
  
}



.navbar-body  {
  border-bottom: 1px solid #374151 ;
  
}

.navbar-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.125rem;
  max-width: max-content;
}

.navbar-links {
  font-size: 1.5rem;
  background-color: #4299e1;
  font-weight: 600;
  color: white;
  padding: 4px 4px;
  border-radius: 10px;
  text-decoration: none;
 
}

.navbar-body .dark {
  background-color: #ffff;
 
}

Link p .navbar-links {
  text-decoration: none;
}

.toggle-btn {
   font-size: x-large;
   font-weight: 500;
   background-color: #fff;
   border-radius: 30px;
   border: 1px solid #6B7280;
   padding: 8px 4px;
}

.toggle-btn:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.toggle-btn .dark {
  background-color: #f3f4f6;
  color: #111827
}

/* Routes */

.routes-body {
  padding: 1rem;
}

/* Footer */
.footer-body {
  text-align: center;
  padding: 2.5rem;
  margin-top: 2.5rem;
  border-top: 1px solid #6B7280;
  border-color: #E5E7EB;
}

.footer-body .dark {
  border-color: #374151;
}


/* Loader */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Search */

.search-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.search-div {
  width: 100%;
}

.search-link {
  font-size: 0.875rem;
}


.search-title {
  font-size: 1.125rem;
  color: #2b6cb0;
}

.search-title:hover {
  text-decoration: underline
}

.search-body .dark {
  color: #90cdf4;
}

.searching-body {
  position: relative;
  margin-top: 0.75rem;
  
}

.searching-text {
  width: 20rem;
  height: 2.5rem;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 1.5rem;
  color: #000;
}

.searching-text:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.searching-body .dark {
  background-color: #edf2f7;
}

.search-button {
  position: absolute;
  top: 18rem;
  right: 40px;
  font-size: 1.5rem;
  color: #a0aec0;
}

/* Images */

.images-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-link {
  padding: 1.25rem;
}

.image-paragragh {
  width: 10rem;
  overflow-wrap: break-word;
  font-size: small;
  margin-top: 0.5rem;
}


/* News */

.news-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5rem;

}

.news-div {
  width: 100%;
}

.news-links:hover {
    text-decoration: underline;
}

.news-title {
  font-size: large;
  color: #2b6cb0;

}

.news-body .dark {
  color: #90cdf4;
}

.new-title-div {
  display: flex;
  gap: 1rem;
}


/* Videos */

.videos-body {
  display: flex;
  flex-wrap: wrap;
} 

.video-div {
  padding: 0.5rem;
}

/* Links */

.link-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.link-url {
  color: #2b6cb0;
  border-bottom-width: 2px;
  padding-bottom: 0.5rem;
  
}

.link-body .dark {
  color: #90cdf4;
  border-color: #2b6cb0;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar-body {
    justify-content: space-between;
  }


  .search-body {
    padding-left: 14rem;
    padding-right: 14rem;
  }

  .image-link {
    padding: 0.75rem;
  }

  .news-body {
    padding: 7rem;

  }
 
  .link-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .searching-body {
    margin-left: 1rem;
    margin-top: 2.5rem;
  }

  .searching-text {
    width: 15rem;
  }

  .navbar-body .dark {
    
    margin-left: 5rem;
  }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .navbar-body .dark { 
    margin-left: 3rem;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .search-div {
    width: 40%;
  }

  .news-div {
    width: 40%;
  }

  .link-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .searching-body {
    margin-left: 1rem;
    width: 40%;
  }

  .navbar-body .dark {
    
    margin-left: 12rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-body .dark {
    
    margin-left: 30rem;
  }
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar-body .dark {
    
    margin-left: 65rem;
  }
}